.calculadora-container {
    position: relative;
    width: 90%;
    max-width: 320px;
    margin: 50px auto;
}

.calculadora {
    background-color: #07060698;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


#tela {
    width: calc(100% - 40px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 24px;
    text-align: right;
}

.botoes {
    display: grid;
    grid-gap: 10px;
}

.fila {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 16px;
    background-color: #363030;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.backspace {
    order: 2;
}

button:hover {
    background-color: #e6e6e6;
    color: #363030;
}

button:active {
    transform: translateY(2px);
}
